<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
</head>
<body>
  <div>
    <img src="/assets/xx.png" alt="Icon" id='logo'/>
  </div>
  <div class="clear">
  </div>

	<div class='one_title'>
		<p>用电报装业务办理告知书</p>
		<p>（10-35kV用电客户）</p>
	</div>

	<div class="dear">
		<p>尊敬的客户:</p>
	</div>

	<div class="text">
		<p>欢迎您光临供电公司办理用电业务！为了方便您办理业务，请您仔细阅读以下内容：</p>
		<p>业务办理流程：</p>
	</div>

  <div class="center">
    <img src="/assets/x3.png" alt="Icon" id='liu'/>
  </div>
  <div class="clear">
  </div>

	<div class="text">
		<p class="texts">一、用电申请</p>
    <p>请您按照材料提供要求准备申请资料，详见本告知书附表。</p>   
    <p class="texts">二、确定供电方案并答复</p>   
    <p>1、在正式受理您的用电申请后，我们会安排人员进行现场查勘；</p>   
    <p>2、对具备供电条件的，我们会在经过技术经济比较和与您充分协商的基础上，为您编制供电方案，并请您签收；对于确实不具备供电条件的，我们将向您说明原因，希望您能够理解；</p>   
    <p>3、当您签收到供电公司编制的供电方案后，请尽快启动工程的设计、施工。国家规定高压工程的供电方案的有效期是1年，逾期自动失效。如您遇有特殊情况，需延长供电方案有效期的，应在有效期到期7个工作日向供电公司提出申请，我们将视情况办理延长手续。</p>   
    <p>4、供电公司在受理您的用电申请后单电源15个工作日内，双电源30个工作日内答复您的供电方案。</p>   
    <p class="texts">三、 业务收费</p>   
    <p>1、用户受电工程应当按照物价部门文件要求缴纳供电营业费用；供电公司在您签收《业务费通知单》时，将告知收费依据、收费标准和费用金额。请您在装表接电前，到供电公司营业厅缴纳营业费用；</p>   
    <p>2、如果您申请临时用电，您需要按照国家规定交纳临时接电费，临时接电费在临时用电结束时按合同约定退还；双电源用户则应交纳高可靠性供电费。收费依据：赣发改商价字[2004] 242号和赣发改商价〔2016〕476号。</p>   
    <p class="texts">四、选择设计单位</p>   
    <p>您在签收《供电方案通知单》后，依据供电公司答复的供电方案，自主选择设计单位进行受电工程设计。设计单位应取得建设主管部门颁发的相应级别的设计资质，不具备资质的设计单位不得承揽受电工程设计。</p>   
    <p class="texts">五、设计审核</p>   
    <p>1、 如果您是重要电力客户，我们将在您受电工程设计完成后，在设备订货前，供电公司须对设计资料进行审核。您应提供如下资料：</p>   
    <p>(1)设计资料送审单；</p>   
    <p>(2)设计单位的资质证明材料（复印件）；</p>   
    <p>(3)设计图纸及说明；</p>   
    <p>(4)环境评估报告（复印件）；</p>   
    <p>(5)安全许可证（复印件）。</p>   
    <p>2、审核结束后，我们会通知您签收《受电工程图纸审核结果通知单》，同时交还您一份加盖供电部门审验章的设计图纸，作为施工依据。设计文件未经供电公司审核同意，不能进行施工；否则，按照国家有关规定，供电公司将不能进行竣工检验和接电；</p>   
    <p>3、设计审核合格后，您可以根据图纸自行选择施工、设备材料供应与监理单位，如因您自身原因需要变更设计的，应将变更后的设计文件再次送审，通过审核后方可实施；否则，按照国家有关规定，供电公司将不能进行竣工检验和接电；</p>   
    <p>4、如果您要变更供电公司已经审验通过的工程设计，请填写《受电工程变更设计申请联系单》。经供电公司对变更内容确认、签署意见并盖章后，您方可按据以进行设计变更。</p>   
    <p>5、供电公司在受理设计审查申请后10个工作日内完成并给您答复。</p>   
    <p class="texts">六、选择物资供应单位和工程施工单位</p>   
    <p>1、您可自行委托施工单位进行受电工程施工。施工单位应取得电力监管机构颁发的相应级别的《承装(修、试)电力设施许可证》，施工单位无资质或资质不符合要求，按照国家有关规定，其所建的受电工程不能接电；</p>   
    <p>2、 高压电气产品应取得国家认定机构出具的型式试验报告,低压电气产品应获得国家强制性产品认证证书（即 3C 证书）,提倡使用节能电气产品，不能使用国家明令淘汰的电气产品。如您选用了不符合上述条件的设备材料，根据国家有关规定，供电公司不能接电。</p>   
    <p class="texts">七、中间检查</p>   
    <p>1、如果您是重要电力客户，我们将在您在隐蔽工程（指受电工程的接地装置、暗敷管线等）完成前，应向供电公司申请中间检查，并提供以下资料：</p>   
    <p>(1) 中间检查报验单（应有您的签名或签章）；</p>   
    <p>(2) 施工单位的资质证明材料（复印件）；</p>   
    <p>(3) 隐蔽工程施工及试验记录。</p>   
    <p>2、对中间检查中发现的缺陷，我们将一次性出具《受电工程中间检查结果通知单》，并请您签收。您须按《受电工程中间检查结果通知单》的要求，督促施工单位整改。整改完成后,提交供电公司复验,复验合格后方可继续施工。</p>   
    <p>3、供电公司在受理中间检查申请后3个工作日内完成并给您答复。</p>   
    <p class="texts">八、竣工检验</p>   
    <p>1、受电工程完工后，您应向供电公司申请竣工检验，并提供以下资料:</p>   
    <p>(1) 竣工验收申请单（应有您的签名或签章）；</p>   
    <p>(2) 施工单位出具的竣工报告；</p>   
    <p>(3) 设备出厂试验报告和交接试验报告。</p>   
    <p>2、 对竣工检验中发现的缺陷，供电公司将一次性出具竣工验收意见交您签收。您须按竣工验收意见督促施工单位整改。整改后通知供电公司予以再次检验，直至合格。</p>   
		<p>3、《供电监管办法》规定：供电公司发现电力用户供电设施存在严重威胁电力系统安全运行和人身安全的隐患时，应当指导其立即消除，在隐患消除前不得送电。</p>
    <p>4、供电公司在受理竣工检验申请后5个工作日内完成并给您答复。</p>
    <p class="texts">九、签订供用电合同和调度协议</p>
    <p>在送电前，您须与供电公司协商并签订《供用电合同》和《调度协议》，在相关协议签订之后，供电公司才能进行送电。</p>
    <p class="texts">十、装表接电</p>
    <p>1、送电前请您与供电公司人员共同核对电能计量装置和表计底码，并在《电能计量装接单》上签字，作为供电公司结算电量的依据；</p>
    <p>2、送电后，您需在《送电任务现场工作单》上签字确认。</p>
    <p>3、供电公司在受电装置检验合格并办理相关手续后，5个工作日内给您装表接电。</p>
    <p class="texts">十一、服务评价</p>
    <p>装表送电后，供电公司将通过 95598 对业扩报装服务进行回访，请您对供电公司的服务质量做出评价，供电公司将认真对待您的意见和建议，持续改进。</p>
    <p class="texts">十二、咨询、投诉 </p>
    <p>客户服务热线(含投诉举报)：95598。</p>
	</div>

	<div class="center">
    <img src="/assets/x41.png" alt="Icon" id='liu1'/>
  </div>
  <div class="clear">
  </div>

  <div class="center">
    <img src="/assets/x42.png" alt="Icon" id='liu1'/>
  </div>
  <div class="clear">
  </div>

</body>
</html>

