<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome xp world</title>
</head>
<body>
<ul style="list-style:none;margin-top:100px;">
  <div class="title"><a href="/one" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">1.低压居民客户用电报装业务办理告知书</a></div>
  <div class="title"><a href="/two" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">2.低压非居民客户用电报装业务办理告知书</a></div>
  <div class="title"><a href="/three" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">3.110kV及以上用电报装业务办理告知书</a></div>
  <div class="title"><a href="/four" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">4.10-35kV客户用电报装业务办理告知书</a></div>
  <div class="title"><a href="/five" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">5.居民分布式电源并网业务办理告知书</a></div>
  <div class="title"><a href="/six" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">6.非居民分布式电源并网业务办理告知书</a></div>
  <div class="title"><a href="/seven" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">7.低压充换电设施用电业务办理告知书</a></div>
  <div class="title"><a href="/eight" style="color:blude; text-decoration: none;margin-left:10px;" target="view_window">8.高压充换电设施用电业务办理告知书</a></div>
</ul>
</body>
</html>

