<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
</head>
<body>
	<div>
		<img src="/assets/xx.png" alt="Icon" id='logo'/>  
	</div>
	<div class="clear">
	</div>
	<div class='one_title'>
		<p>用电报装业务办理告知书</p>
		<p>(低压居民客户)</p>
	</div>

	<div class="dear">
		<p>尊敬的客户:</p>
	</div>

	<div class="text">
		<p>欢迎您光临供电公司办理用电业务！为了方便您办理业务，请您仔细阅读以下内容：</p>
		<p>业务办理流程：</p>
	</div>

  <div class="center">
    <img src="/assets/xx2.png" alt="Icon" id='liu'/>
  </div>
  <div class="clear">
  </div>


	<div class="text">
		<p class="texts">一、用电申请</p>
		<p>请您提前准备好以下资料，以便我们能尽快正式受理您的用电申请：</p>
		<p>1、用户有效身份证明（复印件）；</p>
		<p>2、房屋产权证明（复印件）或其他证明文书；</p>
		<p>3、如果您是受他人委托办理业务，请提供您和委托人的身份证明，并提供授权委托书。</p>
		<p class="texts">二、确定供电方案</p>
		<p>1、在正式受理您的用电申请后，我们会安排人员进行现场查勘；</p>
    <p>2、对具备供电条件的，我们会在经过技术经济比较和与您充分协商的基础上，为您编制供电方案，并请您签收；对于确实不具备供电条件的，将向您说明原因，希望您能够理解。</p>
    <p>3、供电公司在受理您的用电申请后1个工作日内答复供电方案。</p>
    <p class="texts">三、签订供用电合同</p>
    <p>您须在送电前与供电公司协商签订《供用电合同》，供电公司才能安排送电。</p>
    <p class="texts">四、装表接电</p>
    <p>1、送电前请您与供电公司人员共同核对电能计量装置和表计底码，并在《电能计量装接单》上签字，作为我们电量结算的依据；</p>
    <p>2、送电后，您需在《送电任务现场工作单》上签字确认。</p>
    <p>3、供电公司在受电装置检验合格并办理相关手续后，2个工作日内给您装表接电。</p>
		<p class="texts">五、服务评价</p>
    <p>送电后，供电公司将通过 95598 对业扩报装服务进行回访，请您对供</p>
    <p class="texts">六、咨询、投诉 </p>
    <p>客户服务热线(含投诉举报)：95598。</p>
	</div>
	
  <div class="center">
    <img src="/assets/xx1.png" alt="Icon" id='liu1'/>
  </div>
  <div class="clear">
  </div>


</body>
</html>

