<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
</head>
<body>
  <div>
    <img src="/assets/xx.png" alt="Icon" id='logo'/>
  </div>
  <div class="clear">
  </div>

	<div class='one_title'>
		<p>充换电设施用电业务办理告知书</p>
		<p>（低压）</p>
	</div>

	<div class="dear">
		<p>尊敬的电力客户:</p>
	</div>

	<div class="text">
		<p>欢迎您光临供电公司办理用电业务！为了方便您办理业务，请您仔细阅读以下内容。</p>
		<p class="texts">一、业务办理流程：</p>
  <div class="center">
    <img src="/assets/x7.png" alt="Icon" id='liu'/>
  </div>
  <div class="clear">
  </div>

	</div>

	<div>
	</div>

	<div class="text">
		<p class="texts">二、业务办理说明</p>
  <div class="center">
    <img src="/assets/x71.png" alt="Icon" id='liu1'/>
  </div>
  <div class="clear">
  </div>

  <div class="center">
    <img src="/assets/x72.png" alt="Icon" id='liu1'/>
  </div>
  <div class="clear">
  </div>

  <div class="center">
    <img src="/assets/x55.png" alt="Icon" id='liu1'/>
  </div>
  <div class="center">
    <img src="/assets/x53.png" alt="Icon" id='er'/>
  </div>
  <div class="center">
    <img src="/assets/x54.png" alt="Icon" id='er'/>
  </div>
	
	</div>

</body>
</html>

