<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>one</title>
</head>
<body>
  <div>
    <img src="/assets/xx.png" alt="Icon" id='logo'/>
  </div>
  <div class="clear">
  </div>

	<div class='one_title'>
		<p>用电报装业务办理告知书</p>
		<p>(低压非居民客户)</p>
	</div>

	<div class="dear">
		<p>尊敬的客户:</p>
	</div>

	<div class="text">
		<p>欢迎您光临供电公司办理用电业务！为了方便您办理业务，请您仔细阅读以下内容：</p>
		<p>业务办理流程：</p>
	</div>

  <div class="center">
    <img src="/assets/x2.png" alt="Icon" id='liu'/>
  </div>
  <div class="clear">
  </div>


	<div class="text">
		<p class="texts">一、用电申请</p>
		<p>请您提前准备好以下资料，以便我们能尽快正式受理您的用电申请：</p>
		<p>1、用户报装申请（原件）；</p>
		<p>2、用户有效身份证明（复印件）；</p>
		<p>3、居民客户、个体工商户房屋产权证明（复印件）或其他证明文书。</p>
		<p>4、如果您是受他人委托办理业务，请提供您和委托人的身份证明，并提供授权委托书（原件）。</p>
    <p>根据用电性质的不同，您可能还须提供：</p>
    <p>5、主要电气设备清单，影响电能质量的用电设备清单；</p>
    <p>6、涉及国家优待电价的，应提供政府有权部门核发的资质证明和工艺流程。</p>

		<p class="texts">二、确定供电方案</p>
		<p>1、在正式受理您的用电申请后，我们会安排人员进行现场查勘；</p>
    <p>2、对具备供电条件的，我们会在经过技术经济比较和与您充分协商的基础上，为您编制供电方案，并请您签收；对于确实不具备供电条件的，将向您说明原因，希望您能够理解。</p>
		<p>3、当您签收到供电公司编制的供电方案后，请尽快启动工程的设计、施工。国家规定低压工程的供电方案的有效期是3个月，逾期自动失效。如您遇有特殊情况，需延长供电方案有效期的，应在有效期到期前7个工作日向供电公司提出申请，我们将视情办理延长手续。</p>
    <p>4、供电公司在受理您的用电申请后5个工作日内答复供电方案。</p>

<p>not update</p>
    <p class="texts">三、选择设计单位</p>
    <p>请您在签收《供电方案通知单》后，依据供电公司答复的供电方案，自主选择设计单位进行受电工程设计。设计单位应取得建设主管部门颁</p>
    <p class="texts">四、设计审核</p>
		<p>1、受电工程设计完成后，在设备订货前，供电公司须对设计资料进行审核。您应提供如下资料：</p>
    <p>(1)设计资料送审单；</p>
    <p>(2)设计单位的资质证明材料（复印件）；</p>
    <p>(3)设计图纸及说明。</p>
    <p>2、审核结束后，我们会通知您签收《受电工程图纸审核结果通知单》，同时交还您一份加盖供电部门审验章的设计图纸，作为施工依据。设计文件未经供电公司审核同意，不能进行施工；否则，按照国家有关规定，供电公司将不能进行竣工检验和接电；</p>
    <p>3、设计审核合格后，您可以根据图纸自行选择施工、设备材料供应与监理单位，如因您自身原因需要变更设计的，应将变更后的设计文件再次送审，通过审核后方可实施；否则，按照国家有关规定，供电公司将不能进行竣工检验和接电；</p>
    <p>4、如果您要变更供电公司已经审验通过的工程设计，请填写《受电工程变更设计申请联系单》。经供电公司对变更内容确认、签署意见并盖章后，您方可按据以进行设计变更。</p>
    <p>5、供电公司在受理设计审查申请后5个工作日内完成并给您答复。</p>

    <p class="texts">五、选择工程施工单位和物资供应单位</p>
    <p>1、 您可自行委托施工单位进行受电工程施工。施工单位应取得电力监管机构颁发的相应级别的《承装(修、试)电力设施许可证》，施工单位无资质或资质不符合要求，按照国家有关规定，其所建的受电工程不能接电；</p>
    <p>2、 低压电气产品应获得国家强制性产品认证证书（即 3C 证书）。提倡使用节能电气产品，不能使用国家明令淘汰的电气产品。如您选用了不符合上述条件的设备材料，根据国家有关规定，供电公司不能接电。</p>

    <p class="texts">六、中间检查</p>
    <p>1、您在隐蔽工程（指受电工程的接地装置、暗敷管线等）完成前，应向供电公司提供以下资料：</p>
    <p>(1) 中间检查报验单（应有您的签名或签章）；</p>
    <p>(2) 施工单位的资质证明材料（复印件）；</p>
    <p>(3) 隐蔽工程施工及试验记录。</p>
    <p>2、 对中间检查中发现的缺陷，我们将一次性出具《受电工程中间检查结果通知单》，并请您签收。您须按《受电工程中间检查结果通知单》的要求，督促施工单位整改。整改完成后,提交供电公司复验,复验合格后方可继续施工。</p>
    <p>3、供电公司在受理中间检查申请后2个工作日内完成并给您答复。</p>

    <p class="texts">七、竣工检验</p>
    <p>1、受电工程完工后，您应向供电公司提供以下资料，通知供电公司安排竣工检验:</p>
    <p>(1) 竣工验收申请单（应有您的签名或签章）；</p>
    <p>(2) 施工单位出具的竣工报告。</p>
    <p>2、对竣工检验中发现的缺陷，我们将一次性出具竣工验收意见并请您签收。您须按竣工验收意见，督促施工单位整改，直至供电公司予以再次检验合格。</p>
    <p>3、《供电监管办法》规定：供电公司发现电力用户供电设施存在严重威胁电力系统安全运行和人身安全的隐患时，应当指导其立即消除，在隐患消除前不得送电。</p>
		<p>4、供电公司在受理竣工检验申请后3个工作日内完成并给您答复。</p>

		<p class="texts">八、签订供用电合同</p>
    <p>您须在送电前与供电公司协商并签订《供用电合同》，供电公司才能安排送电。</p>
    <p class="texts">九、装表接电</p>
    <p>1、 送电前请您与供电公司人员共同核对电能计量装置和表计底码，并在《电能计量装接单》上签字，作为供电公司结算电量的依据；</p>
    <p>2、送电后，您需在《送电任务现场工作单》上签字确认。</p>
    <p>3、供电公司在受电装置检验合格并办理相关手续后，3个工作日内给您装表接电。</p>

    <p class="texts">十、服务评价</p>
    <p>装表送电后，供电公司将通过 95598 对业扩报装服务进行回访，请您对供电公司的服务质量做出评价，供电公司将认真对待您的意见和建议，持续改进。</p>

    <p class="texts">十一、咨询、投诉 </p>
    <p>客户服务热线(含投诉举报)：95598。</p>
	</div>

</body>
</html>

